* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #e23744;
    color: white;
}

.logo img {
    height: 50px;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin-left: 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

header ul li a:hover {
    color: #ffd700;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #e23744;
    color: white;
}

.logo img {
    height: 23px;
    width: auto;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin-left: 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

header ul li a:hover {
    color: #ffd700;
}